

<div class="container-fluid">

  <div *ngIf="paisFiltro != null" class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">{{paisFiltro}}</li>
          <li *ngIf="deptoFiltro != null" class="breadcrumb-item" aria-current="page">{{deptoFiltro}}</li>
          <li *ngIf="municipioFiltro != null" class="breadcrumb-item" aria-current="page">{{municipioFiltro}}</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngIf="mostrarChartPorPais" class="chart-wrapper">
        <canvas baseChart (chartClick)="onPaisClicked($event)"
                [datasets]="porPaisChartData"
                [labels]="porPaisChartLabels"
                [options]="porPaisChartOptions"
                [plugins]="porPaisChartPlugins"
                [legend]="porPaisChartLegend"
                [chartType]="porPaisChartType">
        </canvas>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-lg-6">
      <div *ngIf="mostrarChartPorDepartamento" class="chart-wrapper">
        <canvas baseChart (chartClick)="onDeptoClicked($event)"
                [datasets]="porDepartamentoChartData"
                [labels]="porDepartamentoChartLabels"
                [options]="porDepartamentoChartOptions"
                [plugins]="porDepartamentoChartPlugins"
                [legend]="porDepartamentoChartLegend"
                [chartType]="porDepartamentoChartType">
        </canvas>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div *ngIf="mostrarChartPorMunicipio" class="chart-wrapper">
        <canvas baseChart (chartClick)="onMunicipioClicked($event)"
                [datasets]="porMunicipioChartData"
                [labels]="porMunicipioChartLabels"
                [options]="porMunicipioChartOptions"
                [plugins]="porMunicipioChartPlugins"
                [legend]="porMunicipioChartLegend"
                [chartType]="porMunicipioChartType">
        </canvas>
      </div>
    </div>

  </div>

  <hr>

  <div class="row">

    <div *ngIf="mostrarChartPorSexo" class="col">

        <div class="form-check form-check-inline">
          <input [disabled]="paisFiltro == null" [(ngModel)]="porSexoYPais" [ngModelOptions]="{standalone: true}" (ngModelChange)="onPorSexoYPaisChange($event)" ngDefaultControl class="form-check-input" name="porSexoYPais" type="checkbox" id="checkPorSexoYPais">
          <label class="form-check-label" for="checkPorSexoYPais">Pais {{ paisFiltro != null ? '(' + paisFiltro + ')' : '' }}</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="!porSexoYPais || deptoFiltro == null" [(ngModel)]="porSexoYDepto" [ngModelOptions]="{standalone: true}" (ngModelChange)="onPorSexoYDeptoChange($event)" ngDefaultControl  class="form-check-input" type="checkbox" name="porSexoYDepto" id="checkPorSexoYDepto">
          <label class="form-check-label" for="checkPorSexoYDepto">Departamento {{ deptoFiltro != null ? '(' + deptoFiltro + ')' : '' }}</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="!porSexoYDepto || municipioFiltro == null" [(ngModel)]="porSexoYMunicipio" [ngModelOptions]="{standalone: true}" (ngModelChange)="onPorSexoYMunicipioChange($event)" ngDefaultControl class="form-check-input" type="checkbox" name="porSexoYMunicipio" id="checkPorSexoYMunicipio">
          <label class="form-check-label" for="checkPorSexoYMunicipio">Municipio {{ municipioFiltro != null ? '(' + municipioFiltro + ')' : '' }}</label>
        </div>

      <div class="chart-wrapper">
        <canvas baseChart
                [datasets]="porSexoChartData"
                [labels]="porSexoChartLabels"
                [options]="porSexoChartOptions"
                [plugins]="porSexoChartPlugins"
                [legend]="porSexoChartLegend"
                [chartType]="porSexoChartType">
        </canvas>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">

    <div *ngIf="mostrarChartPorAno" class="col">

      <nav *ngIf="anoFiltro != null" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">{{anoFiltro}}</li>
          <li *ngIf="mesFiltro != null" class="breadcrumb-item" aria-current="page">{{mesFiltro}}</li>
          <li *ngIf="diaFiltro != null" class="breadcrumb-item" aria-current="page">{{diaFiltro}}</li>
        </ol>
      </nav>


      <div class="form-check form-check-inline">
        <input [disabled]="paisFiltro == null" [(ngModel)]="porAnoYPais" [ngModelOptions]="{standalone: true}" (ngModelChange)="onPorAnoYPaisChange($event)" ngDefaultControl class="form-check-input" name="porAnoYPais" type="checkbox" id="checkPorAnoYPais">
        <label class="form-check-label" for="checkPorAnoYPais">Pais {{ paisFiltro != null ? '(' + paisFiltro + ')' : '' }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input [disabled]="!porAnoYPais || deptoFiltro == null" [(ngModel)]="porAnoYDepto" [ngModelOptions]="{standalone: true}" (ngModelChange)="onPorAnoYDeptoChange($event)" ngDefaultControl  class="form-check-input" type="checkbox" name="porAnoYDepto" id="checkPorAnoYDepto">
        <label class="form-check-label" for="checkPorAnoYDepto">Departamento {{ deptoFiltro != null ? '(' + deptoFiltro + ')' : '' }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input [disabled]="!porAnoYDepto || municipioFiltro == null" [(ngModel)]="porAnoYMunicipio" [ngModelOptions]="{standalone: true}" (ngModelChange)="onPorAnoYMunicipioChange($event)" ngDefaultControl class="form-check-input" type="checkbox" name="porAnoYMunicipio" id="checkPorAnoYMunicipio">
        <label class="form-check-label" for="checkPorAnoYMunicipio">Municipio {{ municipioFiltro != null ? '(' + municipioFiltro + ')' : '' }}</label>
      </div>

      <div class="chart-wrapper">
        <canvas baseChart (chartClick)="onAnoClicked($event)"
                [datasets]="porAnoChartData"
                [labels]="porAnoChartLabels"
                [options]="porAnoChartOptions"
                [plugins]="porAnoChartPlugins"
                [legend]="porAnoChartLegend"
                [chartType]="porAnoChartType">
        </canvas>
      </div>

    </div>

    <div class="col-12">
      <div class="row">
        <div *ngIf="mostrarChartPorMes" class="col-12 col-md-6">
          <div class="chart-wrapper">
            <canvas baseChart (chartClick)="onMesClicked($event)"
                    [datasets]="porMesChartData"
                    [labels]="porMesChartLabels"
                    [options]="porMesChartOptions"
                    [plugins]="porMesChartPlugins"
                    [legend]="porMesChartLegend"
                    [chartType]="porMesChartType">
            </canvas>
          </div>
        </div>

        <div *ngIf="mostrarChartPorDia" class="col-12 col-md-6">
          <div class="chart-wrapper">
            <canvas baseChart (chartClick)="onDiaClicked($event)"
                    [datasets]="porDiaChartData"
                    [labels]="porDiaChartLabels"
                    [options]="porDiaChartOptions"
                    [plugins]="porDiaChartPlugins"
                    [legend]="porDiaChartLegend"
                    [chartType]="porDiaChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
